* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* letter-spacing: 1px; */
}

html,
body {
  /* background: #1e1e1e; */
  width: 99.6%;
  height: 100%;
}

body {
  background: url("../MISC/shot5.jpg") no-repeat fixed center center;
  background-size: cover;
}

a.mamama:link {
  text-decoration: inherit;
  color: inherit;
  display:block;
  width: 100%;
  height: 100%;
}

a.mamama:visited {
  text-decoration: inherit;
  color: inherit;
  display:block;
  width: 100%;
  height: 100%;
}

/* section.makeitwhite{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../misc/home.png") no-repeat fixed center center;
  -webkit-filter: blur(10px);
  transition: all 0.75s cubic-bezier(0.0, 0.0, 0.2, 1);
  opacity: 1;
  z-index: 1;
} */

/*MENU*/

span.ham {
  display: block;
  background-color: #fff;
  border-radius: 5px;
}

#menu-toggle {
  mix-blend-mode: difference;
  width: 50px;
  height: 50px;
  top: 30px;
  right: 30px;
  position: absolute;
  border-color: #fff;
  cursor: pointer;
  z-index: 99;
  overflow: hidden;
}

#menu-toggle #hamburger {
  position: fixed;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

#menu-toggle #hamburger span {
  transition: .25s ease-in-out;
  width: 40px;
  height: 4px;
  position: relative;
  left: 5px;
  margin: 10px 0;
}

#menu-toggle #hamburger span:nth-child(1) {
  transition-delay: .5s;
}

#menu-toggle #hamburger span:nth-child(2) {
  transition-delay: .625s;
}

#menu-toggle #hamburger span:nth-child(3) {
  transition-delay: .75s;
}

#menu-toggle #cross {
  position: fixed;
  height: 50px;
  width: 50px;
  transform: rotate(45deg);
}

#menu-toggle #cross span {
  transition: .25s ease-in-out;
}

#menu-toggle #cross span:nth-child(1) {
  height: 0%;
  width: 4px;
  position: absolute;
  top: 10%;
  left: 24px;
  transition-delay: 0s;
}

#menu-toggle #cross span:nth-child(2) {
  width: 0%;
  height: 4px;
  position: absolute;
  left: 10%;
  top: 24px;
  transition-delay: .25s;
}

#menu-toggle.open #hamburger span {
  mix-blend-mode: difference;
  width: 0%;
}

#menu-toggle.open #hamburger span:nth-child(1) {
  transition-delay: 0s;
}

#menu-toggle.open #hamburger span:nth-child(2) {
  transition-delay: .125s;
}

#menu-toggle.open #hamburger span:nth-child(3) {
  transition-delay: .25s;
}

#menu-toggle.open #cross span:nth-child(1) {
  height: 80%;
  transition-delay: .625s;
}

#menu-toggle.open #cross span:nth-child(2) {
  width: 80%;
  transition-delay: .375s;
}

section.landPage {
  position: relative;
  height: 100%;
}

/*menu*/

section.menu {
  position: fixed;
  width: 100%;
  width: -webkit-fill-available;
  height: 100%;
  padding: 50px;
  padding-left: 100px;
  background-color: #222;
  color: white;
  z-index: 20;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.18, 0.51, 0.51, 0.88);
  transform: translateX(-100%);
}

.addmenuani {
  transform: translateX(0) !important;
  overflow: hidden;
  position: fixed;
}

section.menu nav.menunav {
  padding: 3%;
  font-size: 40px;
  letter-spacing: 2px;
}

section.menu nav.menunav ul li {
  margin-bottom: 15px;
  display: block;
  width: auto;
  line-height: 1.2;
  cursor: pointer;
  overflow: hidden;
}

/* section.menu nav.menunav ul li span{
  transition: margin 1s ease-out;
  margin-left: 20px;
  margin-right: 20px;
}
section.menu nav.menunav ul li span:hover{
  margin-left: 50px;
} */

section.menu nav.menunav ul li b {
  font-weight: 800;
  font-size: 70px;
}

section.menu nav.menunav ul li div {
  transition: transform 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
  width: 5%;
}

p{
  margin-bottom: 0;
}

/*Main page*/

div.intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  font-size: 50px;
  color: #fff;
  line-height: 1.7;
  letter-spacing: 1px;
  z-index: 2;
}

div.me {
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}

div.me p.myrole {
  font-size: 15px;
}

.highlight {
  background-color: #49729c;
  padding: 10px;
}

div.quote2 {
  display: inline-block;
  overflow: hidden;
}

div.maindown {
  line-height: 1.5;
  cursor: pointer;
}

div.underline {
  height: 5px;
  background-color: #49729c;
}

div.intro div.quote2 div.underline {
  animation-name: uline;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: 100%;
}

@keyframes uline {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

div.about {
  position: relative;
  padding: 10%;
  padding-top: 15%;
  height: auto;
  letter-spacing: 1px;
}

div.about div.mypic {
  padding: 50px;
  opacity: 0;
}

div.about div.mypic img {
  border-radius: 50%;
  /* border-bottom-right-radius: 0; */
  border: 3px solid #4c4c4c;
  box-shadow: 10px 10px 20px black;
  padding: 5px;
  transition: all 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
  height: auto;
}

/* div.about div.mypic img{
  animation-name: borderdance;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} */

/* @keyframes borderdance {
  20%{
    border-top-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  40%{
    border-top-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  60%{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 0%;
  }
  80%{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 50%;
  }

} */

div.about div.myabout {
  color: white;
  display: inline-block;
  font-size: 30px;
  text-align: justify;
  line-height: 1.5;
  margin-top: 10%;
}

div.about div.myabout p span.name {
  font-size: 50px;
  font-weight: bolder;
}

div.about div.myabout p.hi {
  font-size: 40px;
  opacity: 0;
}

div.about div.myabout p.nanana {
  font-size: 40px;
  opacity: 0;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
}

.fadeOutLeft{
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

div.about div.myabout p:nth-child(1) {
  animation-delay: 1s;
}

div.about div.myabout p:nth-child(2) {
  animation-delay: 2s;
}

div.about div.myabout div {
  opacity: 0;
  animation-delay: 3s;
}

div.about div.myabout p.ab {
  font-size: 25px;
  font-family: "Open Sans";
  font-weight: lighter;
}

div.details {
  padding-top: 150px;
  padding-bottom: 50px;
  height: auto;
}

div.label {
  width: 500px;
  height: 100px;
  letter-spacing: 1px;
  background: #49729c;
  color: white;
  font-size: 30px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  line-height: 3.3;
}

.edulbl{
  opacity: 0;
}

div.label p {
  margin-left: -20%;
}

.cone {
  background: url("../MISC/Shot1.jpg") no-repeat fixed center center;
  background-size: cover;
  width: 100px;
  position: absolute;
  height: 100px;
  display: inline-block;
  display: none;
  transform: translateX(-50px) rotateZ(45deg);
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 900px;
  color: white;
  font-size: 24px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 1em 0;
  list-style-type: none;
  opacity: 0;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 5px;
  height: 100%;
  margin-left: -3px;
  background: rgb(230, 230, 230);
  background: -moz-linear-gradient(top, rgba(230, 230, 230, 0) 0%, rgb(230, 230, 230) 8%, rgb(230, 230, 230) 92%, rgba(230, 230, 230, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0) 0%, rgb(230, 230, 230) 8%, rgb(230, 230, 230) 92%, rgba(230, 230, 230, 0) 100%);
  background: -o-linear-gradient(top, rgba(230, 230, 230, 0) 0%, rgb(230, 230, 230) 8%, rgb(230, 230, 230) 92%, rgba(230, 230, 230, 0) 100%);
  background: -ms-linear-gradient(top, rgba(230, 230, 230, 0) 0%, rgb(230, 230, 230) 8%, rgb(230, 230, 230) 92%, rgba(230, 230, 230, 0) 100%);
  background: linear-gradient(to bottom, rgba(230, 230, 230, 0) 0%, rgb(230, 230, 230) 8%, rgb(230, 230, 230) 92%, rgba(230, 230, 230, 0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
  position: relative;
  z-index: 5;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 421px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 421px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  color: black;
  background: rgb(248, 248, 248);
  padding: 10px 14px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
}

.direction-r .flag {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -36px;
  content: ' ';
  display: block;
  width: 15px;
  height: 15px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255, 80, 80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -37px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 6px 8px;
  background: rgb(248, 248, 248);
}

.nomrg{
  margin: 0;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

ul.timeline li:nth-child(1){
  opacity: 0;
  animation-delay: 0.25s;
}

ul.timeline li:nth-child(2){
  opacity: 0;
  animation-delay: 0.5s;
}

ul.timeline li:nth-child(3){
  opacity: 0;
  animation-delay: 0.75s;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .direction-r .desc {
    margin: 0 auto;
  }


  .timeline li {
    padding: 2em 0;
  }
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  .flag-wrapper {
    text-align: center;
  }
  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }
  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
  .direction-l .time-wrapper {
    float: none;
  }
  .direction-r .time-wrapper {
    float: none;
  }
  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgba(30, 30, 30);
    color: white;
    max-width: 200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    z-index: 15;
  }
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    /* margin: 1em 1em 0 1em; */
    padding: 1em;
    z-index: 15;
  }
}

@media screen and (
/*min-width: 400px ??*/

max-width: 660px) {
  /* .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  } */
}

/*SKILLS*/

.skllbl{
  opacity: 0;
}

.content {
  margin: auto;
  text-align: center;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#c {
  margin: auto;
}

.header {
  text-align: center;
  width: 100%;
  margin: auto;
  height: 25px;
}

.pentagon {
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 3px 3px 28px 3px;
  display: inline-block;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.24, 1.7);
  opacity: 0;
}

.zoomIn{
  opacity: 1;
}

.pentagon:nth-child(1) {
  animation-delay: 0.4s;
}

.pentagon:nth-child(2) {
  animation-delay: 0.6s;
}

.pentagon:nth-child(3) {
  animation-delay: 0.8s;
}

/*MODAL*/

.projlbl{
  opacity: 0;
}

/**
 * Material Modal CSS
 */

.modal {
  will-change: visibility, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal--align-top {
  align-items: flex-start;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
}

.modal__dialog {
  max-width: 1300px;
  height: 100%;
  padding: 1.2rem;
  letter-spacing: 1px;
}

.modal__content {
  height: 100%;
  will-change: transform, opacity;
  position: relative;
  padding: 2.4rem;
  background: #222;
  color: white;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__content--active {
  opacity: 1;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.7);
}

.modal__close {
  z-index: 6;
  cursor: pointer;
}

.modal__trigger {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger--active {
  z-index: 10;
}

#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

/**
 * Demo specific CSS
 */

.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close svg {
  width: 24px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}

.demo-close:hover {
  background: rgba(0, 0, 0, 0.6);
}

div.projTab{
  padding-top: 100px;
}

/*my stuff*/

.AniProj div.project:nth-child(1) div:nth-child(1) div.proj img{
  opacity: 0;
  animation-delay: 0s;
}

.AniProj div.project:nth-child(1) div:nth-child(2) div.proj img{
  opacity: 0;
  animation-delay: 0.2s;
}

.AniProj div.project:nth-child(1) div:nth-child(3) div.proj img{
  opacity: 0;
  animation-delay: 0.4s;
}

.AniProj div.project:nth-child(2) div:nth-child(1) div.proj img{
  opacity: 0;
  animation-delay: 0.6s;
}

.AniProj div.project:nth-child(2) div:nth-child(2) div.proj img{
  opacity: 0;
  animation-delay: 0.8s;
}

.AniProj div.project:nth-child(2) div:nth-child(3) div.proj img{
  opacity: 0;
  animation-delay: 1.0s;
}

div.project {
  margin-top: 100px;
  text-align: center;
}

div.project div.proj {
  text-align: center;
}

div.project div.proj img {
  /* border-bottom-right-radius: 0; */
  border: 2px solid #4c4c4c;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.7);
  padding: 5px;
  cursor: pointer;
  width: 95%;
  height: auto;
}

div.divul{
  height: 2px;
  width: 100%;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

table.mod-det tr td{
  padding-left: 10px;
}

.mod-img{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.linH-2{
  line-height: 2;
  text-align: justify;
}

/*Experience*/
div.explbl{
  opacity: 0;
}

/*Contact*/

div.conlbl{
  opacity: 0;
}

div.cont{
  margin-top: 150px;
  margin-bottom: 100px;
}

div.aaaa{
  text-align: center;
  margin: 50px;
}

table.aaaa2{
  text-align: left;
  margin: 0 auto;
}

table.aaaa2 td{
  padding: 20px;
}

table.aaaa2 a {
  text-decoration: inherit;
  color: white;
  display:block;
}

table.aaaa2 i{
  opacity: 0;
  animation-delay: 0.7s;
}

table.aaaa2 h4{
  opacity: 0;
  animation-delay: 0.8s;
}


div.aaaa div a i span{
  font-size: 25px;
    vertical-align: middle;
}

i{
  color: #eee;
}

div.cont div i{
  opacity: 0;
}

div.cont div:nth-child(4) i{
  animation-delay: 0.1s;
}

div.cont div:nth-child(5) i{
  animation-delay: 0.2s;
}

div.cont div:nth-child(6) i{
  animation-delay: 0.3s;
}

div.cont div:nth-child(7) i{
  animation-delay: 0.4s;
}

div.cont div:nth-child(8) i{
  animation-delay: 0.5s;
}

div.cont div:nth-child(9) i{
  animation-delay: 0.6s;
}

@media screen and (max-width: 1650px){
  html, body {
    width: 99.5%;
  }
  div.intro{
    font-size: 40px;
  }
  div.me{
    font-size: 25px;
  }
  div.me p.myrole{
    font-size: 13px;
  }
  section.menu nav.menunav ul li b{
    font-size: 50px;
  }
  section.menu nav.menunav{
    font-size: 30px;
  }
  section.menu nav.menunav ul li{
    margin-bottom: 15px;
  }
  div.underline{
    height: 3px;
  }
  div.about div.mypic img{
    width: 75%;
  }
  div.about div.myabout{
    font-size: 25px;
    margin-top: 12%;
  }
  div.about div.myabout p.hi{
    font-size: 30px;
  }
  div.about div.myabout p span.name{
    font-size: 40px;
  }
  div.about div.myabout p.ab{
    font-size: 20px;
  }
  div.details{
    padding-top: 100px;
  }
  div.label{
    width: 450px;
    height: 80px;
    font-size: 25px;
  }
  .timeline{
    font-size: 20px;
  }
  div.project{
    margin-top: 80px;
  }
  div.project div.proj img{
    width: 80%;
  }
  div.modal__content h1{
    font-size: 2rem;
  }
  table.mod-det tbody tr td h5{
    font-size: 1rem;
  }
  .mod-img img{
    width: 40%;
  }
  .linH-2 {
    font-size: 0.9rem;
    line-height: 1.8;
  }
  .modal__dialog{
    max-width: 1000px;
  }
}

@media screen and (max-width: 1400px){
  html, body {
    width: 99.4%;
  }
  div.intro{
    font-size: 30px;
  }
  div.me{
    font-size: 20px;
  }
  div.me p.myrole{
    font-size: 10px;
  }
  #menu-toggle{
    top: 10px;
    right: 10px;
  }
  section.menu nav.menunav ul li b{
    font-size: 40px;
  }
  section.menu nav.menunav{
    font-size: 25px;
  }
  div.about div.mypic img{
    width: 80%;
  }
  div.about div.myabout{
    font-size: 20px;
    margin-top: 12%;
  }
  div.about div.myabout p.hi{
    font-size: 25px;
  }
  div.about div.myabout p span.name{
    font-size: 35px;
  }
  div.about div.myabout p.ab{
    font-size: 18px;
    line-height: 1.6;
  }
  div.details{
    padding-top: 100px;
  }
  div.label{
    width: 350px;
    height: 60px;
    font-size: 19px;
  }
  .cone{
    display: none;
  }
  .pentagon {
    width: 400px;
    height: 400px;
  }
  .timeline{
    font-size: 17px;
  }
  div.project{
    margin-top: 50px;
  }
  div.project div.proj img{
    width: 80%;
  }
  div.modal__content h1{
    font-size: 1.7rem;
  }
  div.divul{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  table.mod-det tbody tr td h5{
    font-size: 0.9rem;
  }
  .mod-img img{
    width: 35%;
  }
  .linH-2 {
    font-size: 0.85rem;
    line-height: 1.7;
  }
  .modal__dialog{
    max-width: 1000px;
  }
  div.cont{
    margin-top: 100px;
    margin-bottom: 70px;
  }
  table.aaaa2 td{
    padding: 15px;
  }
  table.aaaa2 h4{
    font-size: 20px;
  }
}